.mmBody {
  width: 100%;
  height: 26.68rem;
}
.mmHeater {
  height: 1.76rem;
  background-color: #ffffff;
  position: relative;
}
.mmCart {
  position: absolute;
  left: 0.4rem;
  top: 0;
  width: 0.8rem;
  height: 0.8rem;
  font-family: cursive;
  font-size: 1.2rem;
}
.mmTitle {
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.76rem;
  font-weight: 600;
}
.mmBox {
  width: 100%;
  height: 4rem;
  background: -moz-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fea843), color-stop(100%, #ff6c00));
  background: -webkit-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -o-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -ms-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: linear-gradient(to bottom, #fea843 0%, #ff6c00 100%);
  margin-bottom: 0.4rem;
}
.mmBox_now,
.mmBox_next {
  width: 7.5rem;
  float: left;
  height: 4rem;
  text-align: center;
  position: relative;
}
.mmBox_next {
  height: 2rem;
}
.mmBox_nowMoney {
  font-size: 0.72rem;
  color: #ffffff;
  margin-top: 0.6rem;
  line-height: 0.8rem;
}
.mmBox_nowMone {
  font-size: 0.52rem;
  color: #ffffff;
  line-height: 0.6rem;
  margin-top: 0.3rem;
}
.mmBox_now:after {
  content: '';
  width: 0.04rem;
  height: 3.6rem;
  position: absolute;
  right: 0;
  top: 0.2rem;
  background-color: #ffffff;
}
.mmBox_next:after {
  content: '';
  width: 0.04rem;
  height: 1.6rem;
  position: absolute;
  right: 0;
  top: 0.2rem;
  background-color: #ffffff;
}
.mmBox_nowA {
  font-size: 0.48rem;
  color: #ffffff;
  line-height: 0.6rem;
}
.mmHong {
  width: 100%;
  height: 2rem;
  background: -moz-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fea843), color-stop(100%, #ff6c00));
  background: -webkit-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -o-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -ms-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: linear-gradient(to bottom, #fea843 0%, #ff6c00 100%);
  margin-bottom: 0.4rem;
}
.mmShow {
  width: 100%;
  margin-bottom: 1.96rem;
}
.mmShow_Li {
  width: 100%;
  height: 3.16rem;
  border-bottom: 0.02rem #cccccc solid;
  background-color: #ffffff;
}
.mmShow_Li img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  float: left;
  margin: 0.38rem 0.6rem 0 0.4rem;
}
.mmShow_text {
  float: left;
  margin-top: 0.6rem;
}
.mmShow_text p {
  font-size: 0.6rem;
  line-height: 1rem;
}
.mmShow_span {
  float: right;
  font-size: 0.6rem;
  line-height: 3.16rem;
  margin-right: 0.4rem;
}
.mmFooter {
  width: 100%;
  height: 1.96rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background: -moz-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fea843), color-stop(100%, #ff6c00));
  background: -webkit-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -o-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: -ms-linear-gradient(top, #fea843 0%, #ff6c00 100%);
  background: linear-gradient(to bottom, #fea843 0%, #ff6c00 100%);
  text-align: center;
  line-height: 1.96rem;
  color: #ffffff;
  font-size: 0.68rem;
}
.mmList {
  width: 100%;
  height: 1.76rem;
  background-color: #ffffff;
  border-bottom: 0.02rem #cccccc solid;
}
.mmList_li {
  float: left;
  font-size: 0.6rem;
  line-height: 1.68rem;
  padding: 0 0.4rem;
  margin: 0 0.8rem;
  font-weight: 600;
}
.mmList_liAcc {
  color: #ff7f21;
  border-bottom: 0.08rem #ff7f21 solid;
}
